.DS_Store
cetz example.pdf
diagraph example.pdf
codly.pdf
paper.pdf
diagraph.pdf
A Core Calculus for Documents.pdf
A Programmable Markup Language for Typesetting.pdf
acm-siggraph.csl.t
affine example.aux
affine example.dvi
affine example.fdb_latexmk
affine example.fls
affine example.log
affine example.pdf
affine example.synctex.gz
Fast Typesetting with Incremental Compilation.pdf
Typst as a language.pdf
universe.pdf
universe.png
square.svg
typesetting systems.json
undergradmath.typ
undergradmath.pdf
grayness.pdf
jacow.webp
mychat.json
timeliney.pdf
universe copy.jpg
modelo standard.jpg
universe2.jpg
ijimai.pdf
ijimai2.pdf
.gitignore
ijimai2.typ
chess example.pdf
mileva all.jpg
example.pdf
typst
